<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
  <title>{{ site-title }}</title>
  <atom:link href="http://{{ host }}/feed/" rel="self" type="application/rss+xml" />
  <link>http://{{ host }}</link>
  <description>{{ tagline }}</description>
	<lastBuildDate>{{#utc_date}}{{ last_modified }}{{/utc_date}}</lastBuildDate>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>

    {{#all_posts}}
		<item>
		<title>{{{ title }}}</title>
      <link>http://{{ host }}{{{ permalink }}}</link>
      <comments>http://{{ host }}{{{ permalink }}}/#comments</comments>
      <pubDate>{{#utc_date}}{{ published_date }}{{/utc_date}}</pubDate>
      <dc:creator>{{ creator }}</dc:creator>

			{{#tags}}
      <category><![CDATA[{{ . }}]]></category>
			{{/tags}}

      <guid isPermaLink="true">http://{{ host }}{{{ permalink }}}</guid>
			<description><![CDATA[{{{ content }}}]]></description>
		</item>
		{{/all_posts}}
	</channel>
</rss>
